<web-app>
<servlet>
<servlet-name>ServletHello</servlet-name>
<servlet-class>ServletHello</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletHello</servlet-name>
<url-pattern>/ServletHello</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletHtml</servlet-name>
<servlet-class>ServletHtml</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletHtml</servlet-name>
<url-pattern>/ServletHtml</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletHtml1</servlet-name>
<servlet-class>ServletHtml1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletHtml1</servlet-name>
<url-pattern>/ServletHtml1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletPackage</servlet-name>
<servlet-class>p1.ServletPackage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletPackage</servlet-name>
<url-pattern>/p1.ServletPackage</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ServletLogin1</servlet-name>
<servlet-class>ServletLogin1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletLogin1</servlet-name>
<url-pattern>/ServletLogin1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ServletSignUp</servlet-name>
<servlet-class>ServletSignUp</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletSignUp</servlet-name>
<url-pattern>/ServletSignUp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletLoginCheck</servlet-name>
<servlet-class>ServletLoginCheck</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletLoginCheck</servlet-name>
<url-pattern>/ServletLoginCheck</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletContactUs</servlet-name>
<servlet-class>ServletContactUs</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletContactUs</servlet-name>
<url-pattern>/ServletContactUs</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletBuyNow</servlet-name>
<servlet-class>ServletBuyNow</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletBuyNow</servlet-name>
<url-pattern>/ServletBuyNow</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletLogOut</servlet-name>
<servlet-class>ServletLogOut</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletLogOut</servlet-name>
<url-pattern>/ServletLogOut</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletContactUs1</servlet-name>
<servlet-class>ServletContactUs1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletContactUs1</servlet-name>
<url-pattern>/ServletContactUs1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletBuyNow1</servlet-name>
<servlet-class>ServletBuyNow1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletBuyNow1</servlet-name>
<url-pattern>/ServletBuyNow1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletAdded</servlet-name>
<servlet-class>ServletAdded</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletAdded</servlet-name>
<url-pattern>/ServletAdded</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletEntries</servlet-name>
<servlet-class>ServletEntries</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletEntries</servlet-name>
<url-pattern>/ServletEntries</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletCart</servlet-name>
<servlet-class>ServletCart</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletCart</servlet-name>
<url-pattern>/ServletCart</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletRemove</servlet-name>
<servlet-class>ServletRemove</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletRemove</servlet-name>
<url-pattern>/ServletRemove</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletPasswordChange</servlet-name>
<servlet-class>ServletPasswordChange</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletPasswordChange</servlet-name>
<url-pattern>/ServletPasswordChange</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServletPasswordUpdated</servlet-name>
<servlet-class>ServletPasswordUpdated</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletPasswordUpdated</servlet-name>
<url-pattern>/ServletPasswordUpdated</url-pattern>
</servlet-mapping>

</web-app>